.form {
 /* padding-top: 40px; */
  --background: #d3d3d3;
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  /* height: 400px; */
  /* background: #212346; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid #212346;
  box-shadow: 4px 4px #212346;
}

.form > p {
  font-family: content;
  color: #ce3a81;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 0px;
}

.form  h6 {
  font-family: var(--font-SpaceMono);
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
  /* margin-top: 10px; */
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.separator > div {
  width: 100px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--font-color-sub);
}

.separator > span {
  color: var(--font-color);
  font-family: var(--font-SpaceMono);
  font-weight: 600;
}

.oauthButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
    /* margin: 50px auto 0 auto; */
  padding: auto 15px 15px auto;
  width: 350px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px #212346;
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  transition: all 250ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
}


.link{
  text-decoration: none;
  color: var(--font-color);
  font-family: var(--font-SpaceMono);
  font-weight: 600;
  font-size: 17px;
  color: #666;
}

.link:hover{
  color: #ce3a81;
  text-decoration: underline;
}




.oauthButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.oauthButton:hover {
  color: #e8e8e8;
}

.oauthButton:hover::before {
  width: 100%;
}

/* buttom1 */
.oauthButton1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
    /* margin: 50px auto 0 auto; */
  padding: auto 15px 15px auto;
  width: 160px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  transition: all 250ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
}




.oauthButton1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  /* background-color: #212121; */
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px #ce3a81;
  /* -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27); */
  /* box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27); */
  box-shadow: 4px 8px 19px -3px #ce3a81;
  transition: all 250ms;
}

.oauthButton1:hover {
  color: #e8e8e8;
}

.oauthButton1:hover::before {
  width: 100%;
}


.form > input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  /* background-color: #212346; */
  box-shadow: 4px 4px #212346;
  font-size: 16px;
  /* font-family: head; */
  /* font-family: var(--font-SpaceMono); */
  /* font-weight: bold; */
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.div-form{
 display: flex;
 align-items: center;
 justify-content: center;
 padding-top: 89px;
}
